body {
    background-color: rgb(255, 214, 254);
    color: rgba(0, 81, 255, 0.873);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 30px;
}

#guessDisplay {
    font-size: 1.8rem;
    margin: 20px 0;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 30px 0;
}

button {
    background-color: white;
    border: 2px solid rgba(0, 81, 255, 0.873);
    color: rgba(0, 81, 255, 0.873);
    padding: 12px 20px;
    font-size: 1.1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
}

button:hover {
    background-color: rgba(0, 81, 255, 0.873);
    color: white;
}

#result {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: bold;
}
